*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    height: 100vh;
}
.apresentação{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.apresentação h1{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    font-style: oblique;
}
.apresentação p{
    text-align: end;
    font-size: 20px;
    color: white;
    font-weight: 50;
    font-style: italic;
    background-color: rgb(97, 56, 134);
}